<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse</title>
    <link rel="stylesheet" href="css/all.min.css" >
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/style-nurse.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
</head>
<body>

    <!-- Start Header -->
    <section class="header">
      <nav>
      <div class="container">
        <div class="logo">
          <a href="./index.html"><img src="./images/logo-en-black.svg" alt=""></a>
        </div>
        <ul class="main-links">
          <li>
            <a href="./index.html">Home</a> 
          </li>
          <li>
            <a class="active" href="./nurse.html">Nurse</a>
          </li>
    
          <div class="log-out">
            <button>Log out</button>
          </div>
        </ul>
        <i class="fa-sharp fa-solid fa-bars"></i>        
        
      </div>
    </nav>
    <!-- End Header -->
    
    <!-- Start Landing Page -->
    <div class="landing">
      <div class="container">
        <div class="text">
          <h1>Welcome MSS <span>mona ahmed</span></h1>
        </div>
      </div>
    </div>
    </section>
    <!-- End Landing Page -->

    <!-- Start Detection -->
  <section class="detection">
    <div class="container">
      <form>
      <table>
        <thead>
          <th>Id</th>
          <th>patient name</th>
          <th>department name</th>
          <th class="entered">Entered to Doctor</th>
        </thead>
        <tr>
          <td>01</td>
          <td>ahmed</td>
          <td>heart</td>
          <td>
            <input class="btn btn-success" type="button" value="Done">
            <input class="btn btn-info" type="button" value="Delay">
          </td>
        </tr>
        <tr>
          <td>02</td>
          <td>osama</td>
          <td>heart</td>
          <td>
            <input class="btn btn-success" type="button" value="Done">
            <input class="btn btn-info" type="button" value="Delay">
          </td>        
        </tr>
      </table>
    </form>
    </div>
  </section>
  <!-- End Detection -->

  <script src="./js/plugin-nurse.js" type="module"></script>
</body>
</html>